@font-face{
    font-family: WebSymboldsRegular;
    src: url('fonts/websymbols-regular-webfont.eot');
    src: url('fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/websymbols-regular-webfont.woff') format('woff'),
    url('fonts/websymbols-regular-webfont.ttf') format('truetype'),
    url('fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif, arial;
}

body{
    background: rgb(231,70,230);
    background: linear-gradient(30deg, rgba(231,70,230,1) 0%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* INICIO ESTILOS HEADER */

header {
    background: #333333;
    height: 4em;
    line-height: 4em;
    text-align: center;
    color: white;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#hamburguesa li {
    list-style: none;
    text-indent: -100px;
    overflow: hidden;
    margin-top: .75em;
    width: 2.5em;
}
#hamburguesa li a {
    background: url("../img/menu.png") no-repeat center center;
    background-size: cover;
    display: block;
    height: 2.5em;
}

#hamburguesa li:last-child {
    display: none;
}


nav:target #barra {
    left: 0;
}

nav:target #hamburguesa li:first-child {
    display: none;
}

nav:target #hamburguesa li:last-child {
    display: block;
}


#barra {
    width: 100%;
    height: calc(100vh - 4em);
    position: absolute;
    top: 4em;
    left: -100%;
    background: #2f2f2f;
    transition: left .5s ease;
}

#barra li {
    list-style: none;
    /*margin: 1em;*/
    width: 100%;

    height: 50px;
    display: block;
}

#barra li a {
    text-decoration: none;
    display: block;
    color: #d7d7d7;
    text-align: center;
    line-height: 3em;
    width: 100%;
    height: 100%;
}

#barra li:hover{
    background-color: #363636;
    box-shadow: 0px 0px 6px #ccc inset;
    transition: all 1s;
}

#barra span{
    font-family: WebSymboldsRegular;
    margin-right: 10px;
}

h1{
    display: inline-block;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 75px;
    font-size: 23px;
}

#online{
    position: absolute;
    top: 13px;
    right: 10px;
}
#online span{
    background-image: url("../img/online-icon.png");
    background-position: left;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: right;
    font-size: 0px;
}

/* FIN ESTILOS HEADER */

/* INICIO ESTILOS SECCIÓN BUSCADOR */

h2{
    text-align: center;
    margin-bottom: 1em;
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 1px #4b4b4b;
}

#search-form label{
    display: none;
}

input{
    width: 90%;
    height:30px;
    border: none;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 6px #ccc inset;
    border: 1px solid #ccc;
    color: gray;
    padding-left: 1em;
    margin-bottom: .7em;
}

input:focus{

    outline: none;
    color: #555;
}

/* BOTONES */

#send, button{
    text-align: center;
    width: 90%;
    height: 40px;
    color: white;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: lighter;
}

#send, .detail{
    background: linear-gradient(to bottom, #1696ff 0%, #104ca2 100%);
    border-color: #034c67;
}

.delete{
    background: linear-gradient(to bottom, #c70016 0%, #810a0a 100%);
    border-color: #4f0606;
}

.add{
    background: linear-gradient(to bottom, #32c700 0%, #175601 100%);
    border-color: #103101;
}

/* IMAGEN */
img{
    width: 60%;
    margin-top: 1em;
    margin-bottom: 1em;
}


form{
    text-align: center;

}


.all, #favorites {
    padding: 1em;
}

.searchMovie, #favorites article{

    margin-top: 1em;
    background-color: rgba(239, 239, 239, .6);
    border-radius: 10px;
    box-shadow: 2px 2px 4px #292929;
    padding: 2em;
}
.searchMovie{
    flex-direction: column;
}

/* SCORE */

.searchMovie span:first-of-type{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    background-color: #fc8a2c;
    width: 90px;
    height: 80px;
    border-radius: 0px 0px 30px 30px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    box-shadow: 2px 2px 4px #707070;
}

.score {
    display: flex;
    justify-content: flex-end;
    margin-top: -33px;
}

.searchMovie > div:nth-of-type(2){
    text-align: center;
}
.searchMovie h3{
    text-align: center;
    margin: 1em;
}

.searchMovie ul li{

    margin: 1em;
}
.searchMovie{
    display:none;
}

.searchMovie li, #favorites li{
    list-style: none;

}

@media screen and (min-width: 673px){

    /* INICIO ESTILOS HEADER */

    h1{
        font-size: 2em;
    }
    #barra li {
        list-style: none;
        width: 200px;
    }

    #barra{
        width: 200px;
    }

    #online{
        position: absolute;
        top: 7px;
        right: 15px;
    }

    #online span{
        background-image: url("../img/online-icon.png");
        background-position: left;
        background-repeat: no-repeat;
        display: inline-block;
        width: 80px;
        height: 58px;
        text-align: right;
        font-size: 18px;
    }

    /* INICIO ESTILOS HEADER */
}

@media screen and (min-width: 992px) {

    /* INICIO ESTILOS HEADER */

    #hamburguesa {
        display: none;
    }


    #barra {
        position: fixed;
        left: 0;
        top: 4em;
    }

    /* FIN ESTILOS HEADER */

}